---
permalink: /index.html
layout: home
---

<div class="sidebar-menu toggle-others fixed">
    <div class="sidebar-menu-inner">
        <header class="logo-env">
            <!-- logo -->
            <div class="logo">
                <a href="index.html" class="logo-expanded">
                    <img src="../assets/images/logo@2x.png" width="100%" alt="" />
                </a>
                <a href="index.html" class="logo-collapsed">
                    <img src="../assets/images/logo-collapsed@2x.png" width="40" alt="" />
                </a>
            </div>
            <div class="mobile-menu-toggle visible-xs">
                <a href="#" data-toggle="user-info-menu">
                    <i class="linecons-cog"></i>
                </a>
                <a href="#" data-toggle="mobile-menu">
                    <i class="fa-bars"></i>
                </a>
            </div>
        </header>
        <ul id="main-menu" class="main-menu">
            {% for category in site.data.webstack %}
            <li>
                {% if category.sub %}
                <a>
                    <i class="{{ category.icon }}"></i>
                    <span class="title">{{ category.name }}</span>
                </a>
                <ul>
                    {% for sub_category in category.sub %}
                    <li>
                        <a href="#{{ sub_category.name }}" class="smooth">
                            <span class="title">{{ sub_category.name }}</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% else if %}
                <a href="#{{ category.name }}" class="smooth">
                    <i class="{{ category.icon }}"></i>
                    <span class="title">{{ category.name }}</span>
                </a>
                {% endif %}
            </li>
            {% endfor %}
            <li>
                <a href="about.html">
                    <i class="linecons-heart"></i>
                    <span class="tooltip-blue">关于本站</span>
                    <!-- <span class="label label-Primary pull-right hidden-collapsed">♥︎</span> -->
                </a>
            </li>
            <br >
            <br >
            <li>
                <a>
                    <span id="busuanzi_container_site_uv">本站总访客数<span id="busuanzi_value_site_uv"></span>人</span>
                </a>
            </li>
            <li>
                <a>
                    <span id="busuanzi_container_site_pv">本站总访问量<span id="busuanzi_value_site_pv"></span>次</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="main-content">
    <--! seacrh -->
    <div id="search" class="s-search">
    <div id="search-list" class="hide-type-list">
        <div class="s-type"><span></span>
            <div class="s-type-list animated fadeInUp"><label for="type-baidu"><span class="tile-lg bg-blue"><i class="fa fa-search fa-2x m-t-sm"></i></span>搜索</label><label for="type-search"><span class="tile-lg bg-teal"><i class="fa fa-binoculars fa-2x m-t-sm"></i></span>发现</label><label for="type-br"><span class="tile-lg bg-pink"><i class="fa fa-cloud fa-2x m-t-sm"></i></span>网页</label><label for="type-zhihu"><span class="tile-lg bg-yellow"><i class="fa fa-comments fa-2x m-t-sm"></i></span>热门</label><label for="type-taobao1"><span class="tile-lg bg-red"><i class="fa fa-cutlery fa-2x m-t-sm"></i></span>生活</label><label for="type-zhaopin"><span class="tile-lg bg-purple"><i class="fa fa-paw fa-2x m-t-sm"></i></span>资源</label></div>
        </div>
        <div class="search-group group-a s-current"><span class="type-text">搜索</span>
            <ul class="search-type">
                <li><input checked="" hidden="" type="radio" name="type" id="type-baidu" value="https://www.baidu.com/s?wd=" data-placeholder="百度一下，你就知道"><label for="type-baidu"><span style="color:#2529d8">百度</span></label></li>
                <li><input hidden="" type="radio" name="type" id="type-google" value="https://www.google.com/search?q=" data-placeholder="Don't be evil 👾"><label for="type-google"><span style="color:#4285f4">G</span><span style="color:#ea4335">o</span><span style="color:#fbbc05">o</span><span style="color:#4285f4">g</span><span style="color:#34a853">l</span><span style="color:#ea4335">e</span></label></li>
                <li><input hidden="" type="radio" name="type" id="type-github" value="https://github.com/search?q=" data-placeholder="How people build software"><label for="type-github"><span style="color:#333">Github</span></label></li>
                <li><input hidden="" type="radio" name="type" id="type-bing1" value="https://cn.bing.com/search?q=" data-placeholder="Bing is for doing"><label for="type-bing1"><span style="color:#0C8484">Bing</span></label></li>
                <li><input hidden="" type="radio" name="type" id="type-mj" value="https://mijisou.com/?q=" data-placeholder=" 不追踪你的搜索引擎"><label for="type-mj"><span style="color:#464646">秘迹</span></label></li>
                <li><input hidden="" type="radio" name="type" id="type-ddg" value="https://duckduckgo.com/?q=" data-placeholder="隐私保护，化繁为简 👾"><label for="type-ddg"><span style="color:#DE5833">DDG</span></label></li>
                <li><input hidden="" type="radio" name="type" id="type-volf" value="https://www.yuque.com/volfdynamic/volfclub-wiki/s?q=" data-placeholder="祝你工作顺利"><label for="type-volf"><span style="color:#515c6b">关于本站</span></label></li>
            </ul>
        </div>
        <div class="search-group group-b"><span class="type-text">发现</span>
            <ul class="search-type">
                <li><input hidden="" type="radio" name="type" id="type-search" value="https://www.producthunt.com/search?q=" data-placeholder="输入英文（Product Hunt）"><label for="type-search"><span style="color:#DA552F">产品</span></label></li>
                <li><input hidden="" type="radio" name="type" id="type-dri" value="https://medium.com/search?q=" data-placeholder="输入关键词 👾（Medium）"><label for="type-dri"><span style="color:#03A87C">文章</span></label></li>
                <li><input hidden="" type="radio" name="type" id="type-zk" value="https://www.zcool.com.cn/search/content?&amp;word=" data-placeholder="输入关键词（站酷）"><label for="type-zk"><span style="color:#282828">设计</span></label></li>
                <li><input hidden="" type="radio" name="type" id="type-hb" value="https://huaban.com/search/?q=" data-placeholder="输入关键词（花瓣）"><label for="type-hb"><span style="color:#EC414D">灵感</span></label></li>
                <li><input hidden="" type="radio" name="type" id="type-mh" value="http://www.meihua.info/a/r?k=" data-placeholder="输入关键词（梅花网）"><label for="type-mh"><span style="color:#008CD6">营销</span></label></li>
                <li><input hidden="" type="radio" name="type" id="type-mba" value="https://wiki.mbalib.com/wiki/Special:Search?search=" data-placeholder="输入关键词（MBAlib）"><label for="type-mba"><span style="color:#3F9CE5">经管</span></label></li>
                <li><input hidden="" type="radio" name="type" id="type-360" value="https://alternativeto.net/browse/search?q=" data-placeholder="输入英文（AlternativeTo）"><label for="type-360"><span style="color:#5581A6">软件</span></label></li>
                <li><input hidden="" type="radio" name="type" id="type-sogo" value="https://gaia.indienova.com/s?q=" data-placeholder="输入游戏名（Indienova）"><label for="type-sogo"><span style="color:#F04D25">游戏</span></label></li>
                <li><input hidden="" type="radio" name="type" id="type-sogo2" value="https://minapp.com/miniapp/search/?query=" data-placeholder="输入关键词（知晓程序）"><label for="type-sogo2"><span style="color:#000000">小程序</span></label></li>
                <li><input hidden="" type="radio" name="type" id="type-bing" value="https://zh.moegirl.org/" data-placeholder="输入关键词（萌娘百科）"><label for="type-bing"><span style="color:#008000">二次元</span></label></li>
            </ul>
        </div>
        <div class="search-group group-c"><span class="type-text">网页</span>
            <ul class="search-type">
                <li><input hidden="" type="radio" name="type" id="type-br" value="https://translate.sogoucdn.com/pcvtsnapshot?from=auto&amp;to=zh-CHS&amp;tfr=translatepc&amp;url=" data-placeholder="请输入网址"><label for="type-br"><span style="color:#FD6848">搜狗翻译</span></label></li>
                <li><input hidden="" type="radio" name="type" id="type-links" value="https://translate.google.com/translate?sl=auto&amp;tl=zh-CN&amp;u=" data-placeholder="请输入网址 👾"><label for="type-links"><span style="color:#4285f4">谷歌翻译</span></label></li>
                <li><input hidden="" type="radio" name="type" id="type-icp" value="http://seo.chinaz.com/?q=" data-placeholder="请输入网址(不带http://)"><label for="type-icp"><span style="color:#2F87C1">网站信息</span></label></li>
                <li><input hidden="" type="radio" name="type" id="type-ping" value="http://ping.chinaz.com/" data-placeholder="请输入网址(不带http://)"><label for="type-ping"><span style="color:#886CE4">能访问吗 👾</span></label></li>
                <li><input hidden="" type="radio" name="type" id="type-404" value="https://www.similarsites.com/site/" data-placeholder="请输入网址(不带http://)"><label for="type-404"><span style="color:#3B74BA">相似网站</span></label></li>
                <li><input hidden="" type="radio" name="type" id="type-ciku" value="https://web.archive.org/web/*/" data-placeholder="请输入网址 👾"><label for="type-ciku"><span style="color:#222222">时光机</span></label></li>
            </ul>
        </div>
        <div class="search-group group-d"><span class="type-text">热门</span>
            <ul class="search-type">
                <li><input hidden="" type="radio" name="type" id="type-zhihu" value="https://www.zhihu.com/search?type=content&amp;q=" data-placeholder="有问题，上知乎"><label for="type-zhihu"><span style="color:#0084FF">知乎</span></label></li>
                <li><input hidden="" type="radio" name="type" id="type-wechat" value="http://weixin.sogou.com/weixin?type=2&amp;query=" data-placeholder="再小的个体，也有自己的品牌"><label for="type-wechat"><span style="color:#44B549">微信</span></label></li>
                <li><input hidden="" type="radio" name="type" id="type-weibo" value="http://s.weibo.com/weibo/" data-placeholder="随时随地发现新鲜事"><label for="type-weibo"><span style="color:#FA7D3C">微博</span></label></li>
                <li><input hidden="" type="radio" name="type" id="type-douban" value="https://www.douban.com/search?q=" data-placeholder="你的书影音世界"><label for="type-douban"><span style="color:#2F963E">豆瓣</span></label></li>
                <li><input hidden="" type="radio" name="type" id="type-why" value="http://tieba.baidu.com/f/search/res?ie=utf-8&amp;qw=" data-placeholder="让志同道合的人相聚"><label for="type-why"><span style="color:#3385FF">贴吧</span></label></li>
                <li><input hidden="" type="radio" name="type" id="type-bl" value="https://search.bilibili.com/all?keyword=" data-placeholder=" (゜-゜)つロ 干杯~-bilibili"><label for="type-bl"><span style="color:#F45A8D">B站</span></label></li>
                <li><input hidden="" type="radio" name="type" id="type-tt" value="https://www.toutiao.com/search/?keyword=" data-placeholder="你关心的，才是头条"><label for="type-tt"><span style="color:#ED4040">头条</span></label></li>
            </ul>
        </div>
        <div class="search-group group-e"><span class="type-text">生活</span>
            <ul class="search-type">
                <li><input hidden="" type="radio" name="type" id="type-taobao1" value="https://search.smzdm.com/?c=home&amp;s=" data-placeholder="购物先上值得买"><label for="type-taobao1"><span style="color:#F04848">张大妈</span></label></li>
                <li><input hidden="" type="radio" name="type" id="type-jd" value="https://www.decathlon.com.cn/zh/search?Ntt=" data-placeholder="把运动带给最广泛的大众"><label for="type-jd"><span style="color:#0082C3">迪卡侬</span></label></li>
                <li><input hidden="" type="radio" name="type" id="type-xiachufang" value="https://www.uniqlo.cn/search.html?description=" data-placeholder="LifeWear服适人生"><label for="type-xiachufang"><span style="color:#FE0000">优衣库</span></label></li>
                <li><input hidden="" type="radio" name="type" id="type-xiangha" value="https://www.xiaomiyoupin.com/search?keyword=" data-placeholder="坚持做感动人心，价格厚道的好产品"><label for="type-xiangha"><span style="color:#845F3F">小米有品</span></label></li>
                <li><input hidden="" type="radio" name="type" id="type-sm" value="https://music.163.com/#/search/m/?s=" data-placeholder="音乐的力量"><label for="type-sm"><span style="color:#C20C0C">网易云</span></label></li>
                <li><input hidden="" type="radio" name="type" id="type-qunar" value="https://www.chufanggushi.com/sou-xun/?search=" data-placeholder="Anyone can cook"><label for="type-qunar"><span style="color:#464646">厨房故事</span></label></li>
                <li><input hidden="" type="radio" name="type" id="type-快递100" value="http://www.kuaidi100.com/?" data-placeholder="快递100"><label for="type-快递100"><span style="color:#3278e6">快递100</span></label></li>
            </ul>
        </div>
        <div class="search-group group-f"><span class="type-text">资源</span>
            <ul class="search-type">
                <li><input hidden="" type="radio" name="type" id="type-zhaopin" value="https://www.pexels.com/zh-cn/search/" data-placeholder="输入关键词（Pexels）"><label for="type-zhaopin"><span style="color:#05A081">图片</span></label></li>
                <li><input hidden="" type="radio" name="type" id="type-zhaopin2" value="https://www.appinn.com/?s=" data-placeholder="输入关键词（小众应用）"><label for="type-zhaopin2"><span style="color:#007A9C">工具</span></label></li>
                <li><input hidden="" type="radio" name="type" id="type-51job" value="https://topbook.cc/search/article?keywords=" data-placeholder="输入关键词（Topbook）"><label for="type-51job"><span style="color:#000000">技巧</span></label></li>
                <li><input hidden="" type="radio" name="type" id="type-lagou" value="https://xueshu.baidu.com/s?wd=" data-placeholder="输入关键词（百度学术）"><label for="type-lagou"><span style="color:#002147">学术</span></label></li>
                <li><input hidden="" type="radio" name="type" id="type-liepin" value="http://vdisk.weibo.com/search/?type=public&amp;keyword=" data-placeholder="输入关键词（微盘）"><label for="type-liepin"><span style="color:#207CB6">微盘</span></label></li>
                <li><input hidden="" type="radio" name="type" id="type-liepin2" value="https://www.furaffinity.net/search/?q=" data-placeholder="输入英文（FurAffinity）"><label for="type-liepin2"><span style="color:#E7C59F">Furry</span></label></li>
            </ul>
        </div>
    </div>
    <form action="https://www.baidu.com/s?wd=" method="get" target="_blank" id="super-search-fm"><input type="text" id="search-text" placeholder="百度一下，你就知道" style="outline:0"><button type="submit"><i class="fa fa-search "></i></button></form>
    <div class="set-check hidden-xs"><input type="checkbox" id="set-search-blank" class="bubble-3" autocomplete="off"></div>
</div>
    <--! seacrh -->
    <nav class="navbar user-info-navbar" role="navigation">
        <!-- User Info, Notifications and Menu Bar -->
        <!-- Left links for user info navbar -->
        <ul class="user-info-menu left-links list-inline list-unstyled">
            <li class="hidden-sm hidden-xs">
                <a href="#" data-toggle="sidebar">
                    <i class="fa-bars"></i>
                </a>
            </li>
            <!-- <li class="dropdown hover-line language-switcher">
                <a href="../cn/index.html" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="../assets/images/flags/flag-cn.png" alt="flag-cn" /> Chinese
                </a>
                <ul class="dropdown-menu languages">
                    <li>
                        <a href="../en/index.html">
                            <img src="../assets/images/flags/flag-us.png" alt="flag-us" /> English
                        </a>
                    </li>
                    <li class="active">
                        <a href="../cn/index.html">
                            <img src="../assets/images/flags/flag-cn.png" alt="flag-cn" /> Chinese
                        </a>
                    </li>
                </ul>
            </li> -->
        </ul>
        <a href="https://github.com/{{ site.github.repo }}" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
    </nav>

    {% for category in site.data.webstack %}
        {% if category.sub %}
            {% for sub_category in category.sub %}
            <h4 class="text-gray"><i class="linecons-tag" style="margin-right: 7px;" id="{{ sub_category.name }}"></i>{{ sub_category.name }}</h4>
            <div class="row">
                {% for link in sub_category.links %}
                <div class="col-sm-3">
                    <div class="xe-widget xe-conversations box2 label-info" onclick="window.open('{{ link.url }}', '_blank')" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{ link.url }}">
                        <div class="xe-comment-entry">
                            <a class="xe-user-img">
                                <img src="{{ link.logo }}" class="img-circle" width="40">
                            </a>
                            <div class="xe-comment">
                                <a href="#" class="xe-user-name overflowClip_1">
                                    <strong>{{ link.title }}</strong>
                                </a>
                                <p class="overflowClip_2">{{ link.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <br />
            {% endfor %}
        {% else if %}
        <h4 class="text-gray"><i class="linecons-tag" style="margin-right: 7px;" id="{{ category.name }}"></i>{{ category.name }}</h4>
        <div class="row">
            {% for link in category.links %}
            <div class="col-sm-3">
                <div class="xe-widget xe-conversations box2 label-info" onclick="window.open('{{ link.url }}', '_blank')" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{ link.url }}">
                    <div class="xe-comment-entry">
                        <a class="xe-user-img">
                            <img src="{{ link.logo }}" class="img-circle" width="40">
                        </a>
                        <div class="xe-comment">
                            <a href="#" class="xe-user-name overflowClip_1">
                                <strong>{{ link.title }}</strong>
                            </a>
                            <p class="overflowClip_2">{{ link.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <br />
        {% endif %}
    {% endfor %}    
    
    <!-- Main Footer -->
    <!-- Choose between footer styles: "footer-type-1" or "footer-type-2" -->
    <!-- Add class "sticky" to  always stick the footer to the end of page (if page contents is small) -->
    <!-- Or class "fixed" to  always fix the footer to the end of page -->
    <footer class="main-footer sticky footer-type-1">
        <div class="footer-inner">
            <!-- Add your copyright text here -->
            <div class="footer-text">
                &copy; 2017-2019
                <a href="/about.html"><strong>WebStack</strong></a> design by <a href="http://viggoz.com" target="_blank"><strong>Viggo</strong></a>
                <!--  - Purchase for only <strong>23$</strong> -->
            </div>
            <!-- Go to Top Link, just add rel="go-top" to any link to add this functionality -->
            <div class="go-up">
                <a href="#" rel="go-top">
                    <i class="fa-angle-up"></i>
                </a>
            </div>
        </div>
    </footer>
</div>

<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<!-- 锚点平滑移动 -->
<script type="text/javascript">
    $(document).ready(function() {
        $(document).on('click', '.has-sub', function(){
            var _this = $(this)
            if(!$(this).hasClass('expanded')) {
               setTimeout(function(){
                    _this.find('ul').attr("style","")
               }, 300);
              
            } else {
                $('.has-sub ul').each(function(id,ele){
                    var _that = $(this)
                    if(_this.find('ul')[0] != ele) {
                        setTimeout(function(){
                            _that.attr("style","")
                        }, 300);
                    }
                })
            }
        })
        $('.user-info-menu .hidden-sm').click(function(){
            if($('.sidebar-menu').hasClass('collapsed')) {
                $('.has-sub.expanded > ul').attr("style","")
            } else {
                $('.has-sub.expanded > ul').show()
            }
        })
        $("#main-menu li ul li").click(function() {
            $(this).siblings('li').removeClass('active'); // 删除其他兄弟元素的样式
            $(this).addClass('active'); // 添加当前元素的样式
        });
        $("a.smooth").click(function(ev) {
            ev.preventDefault();

            public_vars.$mainMenu.add(public_vars.$sidebarProfile).toggleClass('mobile-is-visible');
            ps_destroy();
            $("html, body").animate({
                scrollTop: $($(this).attr("href")).offset().top - 30
            }, {
                duration: 500,
                easing: "swing"
            });
        });
        return false;
    });

    var href = "";
    var pos = 0;
    $("a.smooth").click(function(e) {
        $("#main-menu li").each(function() {
            $(this).removeClass("active");
        });
        $(this).parent("li").addClass("active");
        e.preventDefault();
        href = $(this).attr("href");
        pos = $(href).position().top - 30;
    });
</script>
